

.contenedor {
    width: 40rem;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .button{
    all:unset;
    font-size: 1.40rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */

    letter-spacing: 0.04em;
    color: #082DEF;
    margin-left: 5px;
    margin-right: 5px;
  }

  p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 100%;
/* or 32px */

letter-spacing: 0.04em;
margin-top: 14px;
  }