.ellipsis {
  text-overflow: ellipsis ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.short {
  width: 400px;
  
}

.title{
  margin-top: 10%;
  font-size: 12px;
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  font-size: 16.5258px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.price{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16.5258px;
line-height: 100%;
color: black;
margin-bottom: 1px;
}

.container{
  background: linear-gradient(90deg, rgb(185, 134, 69) 0%, rgb(195, 97, 33) 35%, rgb(216, 90, 6) 95%);
  padding-bottom: 18%;
  height: 89px;
}

.cardImg{
  width: 100%;
}

.infoContainer{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}